@import '../../app.scss';

.sign-up {
    margin-left: -12.62vw;
    margin-right: -12.62vw;
    padding: 4em 12.62vw;
    &__inner {
       display: flex;
    column-gap: 22.4em;
    row-gap: 3em; 
    }
    

    &__subtitle {
        flex: 0 0 3.81em;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 3em;
    }

    &__main {
        flex: 0 1 22.5em;
    }

    &__media {
        flex: 0 1 auto;
    }

    &__title {
        font-size: 2.875em;
        line-height: 1.17em;
        margin-bottom: 0.5em;
    }

    &__text {
        margin-bottom: 3.125em;
    }

    &__btns {
        display: flex;
        justify-content: space-around;
        gap: 1em;
    }
}


@media screen and (max-width: 1200px) {
    .sign-up {
        padding: 5vw;
        margin-left: -5vw;
        margin-right: -5vw;
        &__inner {
            flex-wrap: wrap;
        }
        &__info {
            justify-content: center;
        }

        &__main {
            flex: 1 1 22.5em;
        }
    }
}

@media screen and (max-width: 768px) {
    .sign-up {
        &__info {
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-size: 2em;
            font-weight: 500;
        }
    }
}