@import '../../app.scss';

.use {
    padding: 9.37em 12.62vw;
    margin-left: -12.62vw;
    margin-right: -12.62vw;
    background-color: $accentbg;
}

@media screen and (max-width: 1200px) {
    .use {
        padding: 5vw;
        margin-left: -5vw;
        margin-right: -5vw;
    }
}