.use {
    padding: 9.37em 0;
    display: flex;
    justify-content: space-between;
    gap: 3.75em;
    align-items: center;
    &__info {
        flex: 0 0 22.5em;
    }
    &__media {
        flex: 0 1 auto;
    }
    &__img {
        border-radius: 20px;
    }
}