.use {
    padding: 9.37em 0;
    display: flex;
    gap: 3.75em;
    align-items: center;
    &__info {
        flex: 0 0 22.5em;
    }
    &__media {
        flex: 0 1 60%;
    }
    &__img {
        border-radius: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .use {
        padding-top: 3em;
        padding-bottom: 3em;
        &__info {
            flex-grow: 1;
        }
        &__media {
            flex-grow: 1;
        }
    }
}