.company {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    flex: 0 0 15em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.56em 2.81em;
}