.companies {
    margin-top: 8.875em;
    display: flex;
    gap: 3.75em;

    &__title {
        flex: 0 1 7.82em;
    }

    &__list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.875em;

        &-item {
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            flex: 0 0 15em;
            height: 10em;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.56em 2.81em;
        }
    }

}

@media screen and (max-width: 1200px) {
    .companies {
        margin-top: 3em;
        &__title {
            flex-grow: 1;
        }
        &__list {

            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 1.875em;
        }
    }
}

@media screen and (max-width: 768px) {
    .companies {
        justify-content: center;
        &__list {
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            gap: 1.875em;
        }
    }
}