.service {
    padding: 8.7em 0 9.37em 0;
    &__top {
        display: flex;
        gap: 19em;
        margin-bottom: 3.375em;
    }
    &__title {
        margin-bottom: 0.5em;
    }
    &__numbers {
        display: flex;
        gap: 9em;
        margin-left: 26.25em;
        &-num {
            font-size: 4.125em;
        }
    }
}

@media screen and (max-width: 1200px) {
    .service {
        padding-top: 3em;
        padding-bottom: 3em;
        &__top {
            gap: 3em;
        }
        &__numbers {
            margin-left: 0;
            gap: 5em;
        }
    }
}