.service {
    padding: 8.7em 0 9.37em 0;
    position: relative;
    &__title {
        padding-left: 9.13em;
    }
    &__text {
        padding-left: 26.25em;
        margin-bottom: 3.375em;
    }
    &__subtitle {
        position: absolute;
        top: 8.7em;
        left: 0;
    }
    &__numbers {
        display: flex;
        justify-content: space-between;
        padding-left: 26.25em;
        &-num {
            font-size: 4.125em;
        }
    }
}