@import '../../app.scss';

.clients {
    padding: 8.7em 12.62vw 9.37em 12.62vw;
    background-color: $accentbg;
    margin-left: -12.62vw;
    margin-right: -12.62vw;
    &__top {
        display: flex;
        column-gap: 20.125em;
        row-gap: 3em;
    }

    &__title {
        margin-bottom: 0.8em;
    }

}

@media screen and (max-width: 1200px) {
    .clients {
        padding: 5vw;
        margin-left: -5vw;
        margin-right: -5vw;
    }

}