@import '../../app.scss';

.clients {
    padding: 8.7em 0 9.37em 0;
    &__top {
        display: flex;
        gap: 20.125em;
    }
    &__title {
        
        margin-bottom: 1.35em;
    }
    
}