.main {
    &__inner {
        display: flex;
        align-items: center;
        column-gap: 1em;
        row-gap: 3em;
        padding: 6.59em 8.75em 1.53em 8.75em;
        margin-right: -8.75em;
        margin-left: -8.75em;
    }


    &__list {
        display: flex;
        flex-direction: column;
    }

    &__img {
        border-radius: 15px;
    }

    &__title,
    &__subtitle {
        margin-bottom: 0.65em;
    }

    &__text {
        font-size: 1.625em;
        margin-bottom: 2.08em;
    }

    &__info {
        flex: 0 0 34em;
    }

    &__media {
        flex-grow: 1;
    }
}

@media screen and (max-width: 1200px) {
    .main {
        padding-top: 3em;
        padding-bottom: 3em;
        gap: 3em;
        justify-content: center;
        &__inner {
            flex-wrap: wrap;
            padding: 5vw;
            margin-left: -5vw;
            margin-right: -5vw;
        }
        &__info {
            flex: 1 1 34em;
        }
    }
}