.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.59em 0 1.53em 0;
    margin-right: -8.75em;
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__img {
        border-radius: 15px;
    }
    &__title {
        margin-bottom: 0.65em;
    }
    &__text {
        font-size: 1.625em;
        margin-bottom: 2.08em;
    }
    &__info {
        width: 34em;
    }
}