@import '../../app.scss';

.pricing {
    position: relative;
    padding: 8.7em 0 9.37em 0;
    &__title {
        padding-left: 9.13em;
        margin-bottom: 0.5em;
    }
    &__text {
        margin-bottom: 3.125em;
        padding-left: 26.25em;
    }
    &__subtitle {
        position: absolute;
        top: 8.7em;
        left: 0;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 3.75em;
    }
}