@import '../../app.scss';

.pricing {
    padding: 8em 0 4em 0;

    &__top {
        display: flex;
        column-gap: 22.31em;
        row-gap: 3em;
        margin-bottom: 3.125em;

        &-info {
            flex: 0 1 48.75em;
        }
    }

    &__title {
        margin-bottom: 0.5em;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 3.75em;
    }
}

@media screen and (max-width: 1200px) {
    .pricing {
        padding-top: 3em;
        padding-bottom: 3em;

        &__top {
            flex-wrap: wrap;
            &-info {
                flex-grow: 1;
            }
        }

        &__list {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}