@import '../../app.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.25em 0 1.5em 0;
    margin-right: -12.5em;
    margin-left: -12.5em;
    border-bottom: 1px solid $separatorbg;
    &__img {
        flex: 0 0 12.5em;
        margin-left: 12.5em;
    }
    &__btn {
        margin-right: 3.75em;
    }
}