@import '../../app.scss';

.features {
    padding: 8.7em 0 9.37em 0;

    &__top {
        display: flex;
        column-gap: 21.625em;
        row-gap: 3em;
        margin-bottom: 3.06em;

    }

    &__title {
        margin-bottom: 1.5em;
    }

    &__list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(auto, 22.5em) minmax(auto, 22.5em) minmax(auto, 22.5em);
        gap: 3.75em;
    }

    &__item {
        position: relative;
        border: 1px solid $thinborder;
        box-shadow: 0px 15px 30px $border;
        border-radius: 15px;
        padding: 6em 1.687em 4.19em 1.875em;

        &-title {
            position: relative;
            font-weight: 500;
            font-size: 1.625em;
            line-height: 1.19em;
            color: $innertitle;
            margin-bottom: 2.07em;

            &::before {
                content: '';
                position: absolute;
                height: 1px;
                left: 0;
                bottom: calc(-2.07em / 2);
                right: 75%;
                background-color: $subtitlecolor;
            }
        }


        &-icon {
            position: absolute;
            top: 2em;
            right: 1.875em;
            width: 2.5em;
            height: 2.5em;
        }
    }
}

@media screen and (max-width: 1200px) {
    .features {
        padding-top: 3em;
        padding-bottom: 3em;

        &__list {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: minmax(auto, 22.5em) minmax(auto, 22.5em);
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .features {
        &__list {
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: minmax(auto, 22em);

        }
    }
}