@import '../../app.scss';

.features {
    padding: 8.7em 0 9.37em 0;

    &__top {
        display: flex;
        column-gap: 21.625em;
        row-gap: 3em;
        margin-bottom: 3em;

    }

    &__title {
        margin-bottom: 0.5em;
    }

    &__list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(auto, 22.5em) minmax(auto, 22.5em) minmax(auto, 22.5em);
        gap: 3.75em;
    }

    
}

@media screen and (max-width: 1200px) {
    .features {
        padding-top: 3em;
        padding-bottom: 3em;

        &__list {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: minmax(auto, 22.5em) minmax(auto, 22.5em);
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .features {
        &__list {
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: minmax(auto, 22em);

        }
    }
}