@import '../../app.scss';

.footer {
    background-color: $footerbg;
    padding-top: 6em;
    padding: 6em 12.5em 6.25em;
    margin-left: -12.5em;
    margin-right: -12.5em;

    &__img {
        width: 12.5em;
        margin-bottom: 1.125em;
    }

    &__title {
        font-size: 1.625em;
        line-height: 1.4;
        color: $accent;
        margin-bottom: 1.58em;
    }
    &__btn {
        color: $bg;
        padding: 0.93em 2em;
        border-radius: 5px;
        background-color: $accent;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }
}