@import '../../app.scss';

.footer {
    background-color: $footerbg;
    padding-top: 6em;
    padding: 0.94em 12.5em;
    margin-left: -12.5em;
    margin-right: -12.5em;
    &__img {
        width: 12.5em;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.31em;
    }
}