@import '../../app.scss';

.copyright {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    background-color: $innertitle;
    color: $footerbg;
    padding: 0.94em 12.62vw;
    margin-left: -12.62vw;
    margin-right: -12.62vw;
}