@import '../../app.scss';

.testimonial {
    
    display: flex;
    gap: 9.94em;
    &__comment {
        font-size: 1.625em;
        font-weight: 300;
        color: $innertitle;
        line-height: 1.2;

    }
    &__author {
        font-weight: 600;
        color: $innertitle;
        span {
            display: block;
            opacity: 0.5;
        }
    }
    &__info {
        flex: 0 1 48.75em;
        display: grid;
        // grid-template-rows: min-content;
        row-gap: 0.5em;
        &::before {
            content: url('../../../public/assets/quote.svg');
            position: absolute;
            left: 26.25em;
            width: 45px;
            height: auto;
        }
    }
    &__media {
        flex: 0 1 auto;
    }
    &__btns {
        display: flex;
        gap: 1.875em;
        align-self: end;
    }
    &__btn {
        background-color: transparent;
        border: none;
        width: 3.125em;
        height: 3.125em;
    }
    &__btn:hover svg circle {
        fill: $btnhover;
    }
    &__btn:hover svg path {
        fill: #fff;
    }
    &__btn-next {
        svg {
            transform: rotate(180deg);
        }
    }
    
}