$fontcolor: rgba(0, 0, 0, 0.75);
$bg: #fff;
$accent: #000;
$separatorbg: #20273133;
$innertitle: #202731;
$border: rgba(0, 0, 0, 0.05);
$thinborder: rgba(0, 0, 0, 0.1);
$btnhover: #03A8B7;
$priceborder: #C6E5FD;
$footerbg: #F8F8F8;
$titlecolor: #181E25;
$subtitlecolor: #03A8B7;
$linkfont: #202731;
$lightbg: #E0F0FD;
$accentfont: #3174C4;
$priceaccent: rgba(18, 18, 18, 0.8);
$price: #404040;
$listfont: #4C4F56;


@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../public/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../public/fonts/Gilroy-Regular.woff') format('woff'),
        url('../public/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../public/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gilroy-Light.woff2') format('woff2'),
        url('../public/fonts/Gilroy-Light.woff') format('woff'),
        url('../public/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../public/fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../public/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../public/fonts/Gilroy-Medium.woff') format('woff'),
        url('../public/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body,
blockquote {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
button {
    font-family: 'Gilroy', sans-serif;
    font-size: 1rem;
    color: $fontcolor;
    line-height: 1.5;
}

button {
    padding: 0;
    border: none;
}

ul,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

// .container {
//     max-width: calc(1600px + 2 * 12.5em);
//     margin: 0 auto;
// }

.app {
    padding: 0 12.5em;
}

.title {
    font-size: 2.875em;
    line-height: 1.19;
    font-weight: 500;
    color: $titlecolor;
}

.subtitle {
    font-weight: 500;
    text-transform: uppercase;
    color: $subtitlecolor;
}

.app-btn {
    background: linear-gradient(93.31deg, #006AD8 1.67%, #01ACB4 98.59%), rgba(196, 196, 196, 0.05);
    backdrop-filter: blur(37px);
    border-radius: 5px;
    color: $bg;
    text-transform: uppercase;
    padding: 0.93em 2em;

}

.close-btn {
    background-color: transparent;
    svg {
        width: 2.5em;
        height: 2.5em;
    }

}

.link {
    color: $linkfont;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    * {
        flex-wrap: wrap;
    }
    .app {
        padding: 0 5%;
    }
    .main {
        margin-right: 0;
    }
    .header {
        margin-left: -5%;
        margin-right: -5%;
        &__inner {
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    .footer, .copyright {
        margin-left: -5%;
        margin-right: -5%;
        padding: 5%;
    }
}

