$fontcolor: rgba(0, 0, 0, 0.75);
$bg: #fff;
$accent: #000;
$separatorbg: #20273133;
$innertitle: #202731;
$border: rgba(0, 0, 0, 0.05);
$thinborder: rgba(0, 0, 0, 0.1);
$btnhover: #03A8B7;
$priceborder: #C6E5FD;
$footerbg: #F8F8F8;
$copyrightbg: #202731;
$titlecolor: #181E25;
$subtitlecolor: #03A8B7;
$linkfont: #202731;

body,
blockquote {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
button {
    font-family: Roboto;
    font-size: 1rem;
    color: $fontcolor;
    line-height: 1.5;
}

button {
    padding: 0;
    border: none;
}

ul,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    padding: 0.5em 12.5em;
    
}

.app {
    max-width: 1600px;
    margin: 0 auto;
}

.title {
    font-size: 2.875em;
    line-height: 1.19;
    font-weight: 500;
    color: $titlecolor;
}

.subtitle {
    font-weight: 500;
    text-transform: uppercase;
    color: $subtitlecolor;
}

.app-btn {
    background: linear-gradient(93.31deg, #006AD8 1.67%, #01ACB4 98.59%), rgba(196, 196, 196, 0.05);
    backdrop-filter: blur(37px);
    border-radius: 5px;
    color: $bg;
    text-transform: uppercase;
    padding: 0.93em 2em;

}

.link {
    color: $linkfont;
    text-decoration: none;
}