.benefits {
    padding-bottom: 12.75em;
    display: flex;
    gap: 3.75em;
    align-items: center;

    &__info {
        flex: 0 0 22.5em;
    }

    &__media {
        flex: 0 1 60%;
    }

    &__text {
        margin-bottom: 2em;
    }

    &__subtitle {
        margin-bottom: 0.625em;
    }

    &__title {
        margin-bottom: 0.5em;
    }

    &__img {
        border-radius: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .benefits {
        padding-top: 3em;
        padding-bottom: 3em;

        &__info {
            flex: 1 1 22.5em;
        }

        &__media {
            flex: 1 1 60%;
        }

        &__media {
            order: 2;
        }

        &__info {
            order: 1;
        }
    }
}